<div id="<%= dom_id bike %>">
  <p>
    <strong>Model:</strong>
    <%= bike.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= bike.year %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= bike.bike_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= bike.price %>
  </p>

</div>
